
@import url('/blocks/header/header.css');
@import url('/blocks/experience/experience.css');
@import url('/blocks/blue/blue.css');
@import url('/blocks/get-up/get-up.css');
@import url('/blocks/interface/interface.css');
@import url('/blocks/spansors/sponsors.css');
@import url('/blocks/footer/footer.css');





p {
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4% 11% 3% 11%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
}

